# /home/cbh/crm-landing/.env
# ACHTUNG: Diese Datei NICHT ins Repo committen (steht in .gitignore)

LANDING_APP_PREFIX=/mission-ctrl
COLDCALL_URL=https://hook.srv960331.hstgr.cloud/coldcall-next/
CRM_URL=https://hook.srv960331.hstgr.cloud/mission-ctrl/crm-staging/
